<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu >
    <menu id="root-menu" label="Applications">
        <menu id="Editors" label="Editors">
            <item label="CMake">
                <action name="Execute">
                    <command>cmake-gui</command>
                </action>
            </item>
            <item label="Ghidra">
                <action name="Execute">
                    <command>ghidra</command>
                </action>
            </item>
            <item label="Godot Engine">
                <action name="Execute">
                    <command>godot</command>
                </action>
            </item>
            <item label="Meld">
                <action name="Execute">
                    <command>meld</command>
                </action>
            </item>
            <item label="Micro">
                <action name="Execute">
                    <command>alacritty micro</command>
                </action>
            </item>
            <item label="Qt Assistant">
                <action name="Execute">
                    <command>assistant6</command>
                </action>
            </item>
            <item label="Qt D-Bus Viewer">
                <action name="Execute">
                    <command>qdbusviewer6</command>
                </action>
            </item>
            <item label="Qt Linguist">
                <action name="Execute">
                    <command>linguist6</command>
                </action>
            </item>
            <item label="Qt Widgets Designer">
                <action name="Execute">
                    <command>designer6</command>
                </action>
            </item>
            <item label="VSCodium">
                <action name="Execute">
                    <command>codium</command>
                </action>
            </item>
            <item label="VSCodium - URL Handler">
                <action name="Execute">
                    <command>codium --open-url</command>
                </action>
            </item>
            <item label="VSCodium - Wayland">
                <action name="Execute">
                    <command>codium --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland</command>
                </action>
            </item>
        </menu> <!-- Editors -->
        <menu id="Games" label="Games">
            <item label="Amethyst Mod Manager">
                <action name="Execute">
                    <command>amethyst-mod-manager</command>
                </action>
            </item>
            <item label="Amethyst Mod Manager (NXM Handler)">
                <action name="Execute">
                    <command>python3 /usr/share/amethyst-mod-manager/run_qt.py --nxm</command>
                </action>
            </item>
            <item label="Goverlay">
                <action name="Execute">
                    <command>goverlay</command>
                </action>
            </item>
            <item label="Heroic Games Launcher">
                <action name="Execute">
                    <command>/opt/Heroic/heroic</command>
                </action>
            </item>
            <item label="Lutris">
                <action name="Execute">
                    <command>lutris</command>
                </action>
            </item>
            <item label="Prism Launcher">
                <action name="Execute">
                    <command>flatpak run --branch=stable --arch=x86_64 --command=prismlauncher --file-forwarding org.prismlauncher.PrismLauncher @@u %U @@</command>
                </action>
            </item>
            <item label="ProtonPlus">
                <action name="Execute">
                    <command>flatpak run --branch=stable --arch=x86_64 --command=protonplus com.vysp3r.ProtonPlus</command>
                </action>
            </item>
            <item label="Steam">
                <action name="Execute">
                    <command>steam</command>
                </action>
            </item>
        </menu> <!-- Games -->
        <menu id="Graphics" label="Graphics">
            <item label="Blender">
                <action name="Execute">
                    <command>blender</command>
                </action>
            </item>
            <item label="Flameshot">
                <action name="Execute">
                    <command>flameshot</command>
                </action>
            </item>
            <item label="USD View">
                <action name="Execute">
                    <command>usdview</command>
                </action>
            </item>
        </menu> <!-- Graphics -->
        <menu id="Internet" label="Internet">
            <item label="Avahi SSH Server Browser">
                <action name="Execute">
                    <command>bssh</command>
                </action>
            </item>
            <item label="Avahi VNC Server Browser">
                <action name="Execute">
                    <command>bvnc</command>
                </action>
            </item>
            <item label="Chromium">
                <action name="Execute">
                    <command>chromium</command>
                </action>
            </item>
            <item label="Discord">
                <action name="Execute">
                    <command>flatpak run --branch=stable --arch=x86_64 --command=com.discordapp.Discord --file-forwarding com.discordapp.Discord @@u %U @@</command>
                </action>
            </item>
            <item label="Electron Cash">
                <action name="Execute">
                    <command>electron-cash</command>
                </action>
            </item>
            <item label="Electrum Litecoin Wallet">
                <action name="Execute">
                    <command>electrum-ltc</command>
                </action>
            </item>
            <item label="Firefox Nightly">
                <action name="Execute">
                    <command>/usr/lib/firefox-nightly/firefox</command>
                </action>
            </item>
            <item label="Mullvad VPN">
                <action name="Execute">
                    <command>mullvad-vpn</command>
                </action>
            </item>
            <item label="Ocs-url">
                <action name="Execute">
                    <command>ocs-url</command>
                </action>
            </item>
            <item label="QBittorrent">
                <action name="Execute">
                    <command>qbittorrent</command>
                </action>
            </item>
            <item label="Remote Viewer">
                <action name="Execute">
                    <command>remote-viewer</command>
                </action>
            </item>
            <item label="Thunderbird">
                <action name="Execute">
                    <command>thunderbird</command>
                </action>
            </item>
        </menu> <!-- Internet -->
        <menu id="Multimedia" label="Multimedia">
            <item label="Audacious">
                <action name="Execute">
                    <command>audacious</command>
                </action>
            </item>
            <item label="Deezer">
                <action name="Execute">
                    <command>flatpak run --branch=stable --arch=x86_64 --command=run.sh --file-forwarding dev.aunetx.deezer @@u %U @@</command>
                </action>
            </item>
            <item label="Mpv Media Player">
                <action name="Execute">
                    <command>mpv --player-operation-mode=pseudo-gui --</command>
                </action>
            </item>
            <item label="OBS Studio">
                <action name="Execute">
                    <command>obs</command>
                </action>
            </item>
            <item label="PulseAudio System Tray">
                <action name="Execute">
                    <command>pasystray</command>
                </action>
            </item>
            <item label="Qt V4L2 Test Utility">
                <action name="Execute">
                    <command>qv4l2</command>
                </action>
            </item>
            <item label="Qt V4L2 Video Capture Utility">
                <action name="Execute">
                    <command>qvidcap</command>
                </action>
            </item>
            <item label="VLC Media Player">
                <action name="Execute">
                    <command>vlc --started-from-file</command>
                </action>
            </item>
            <item label="Volume Control">
                <action name="Execute">
                    <command>pavucontrol</command>
                </action>
            </item>
        </menu> <!-- Multimedia -->
        <menu id="Other" label="Other">
            <item label="PolicyKit Authentication Agent">
                <action name="Execute">
                    <command>/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1</command>
                </action>
            </item>
        </menu> <!-- Other -->
        <menu id="Settings" label="Settings">
            <item label="Advanced Network Configuration">
                <action name="Execute">
                    <command>nm-connection-editor</command>
                </action>
            </item>
            <item label="Bluetooth Adapters">
                <action name="Execute">
                    <command>blueman-adapters</command>
                </action>
            </item>
            <item label="Bluetooth Manager">
                <action name="Execute">
                    <command>blueman-manager</command>
                </action>
            </item>
            <item label="Firewall Configuration">
                <action name="Execute">
                    <command>gufw</command>
                </action>
            </item>
            <item label="KColorSchemeEditor">
                <action name="Execute">
                    <command>kcolorschemeeditor</command>
                </action>
            </item>
            <item label="Notifications">
                <action name="Execute">
                    <command>xfce4-notifyd-config</command>
                </action>
            </item>
            <item label="Preferred Applications">
                <action name="Execute">
                    <command>libfm-pref-apps</command>
                </action>
            </item>
            <item label="Removable Drives And Media">
                <action name="Execute">
                    <command>thunar-volman-settings</command>
                </action>
            </item>
            <item label="Shortcut Keys">
                <action name="Execute">
                    <command>lxqt-config-globalkeyshortcuts</command>
                </action>
            </item>
            <item label="Text Editor Settings">
                <action name="Execute">
                    <command>mousepad --preferences</command>
                </action>
            </item>
            <item label="Thunar Preferences">
                <action name="Execute">
                    <command>thunar-settings</command>
                </action>
            </item>
            <item label="Tint2 Settings">
                <action name="Execute">
                    <command>tint2conf</command>
                </action>
            </item>
        </menu> <!-- Settings -->
        <menu id="System" label="System">
            <item label="Avahi Zeroconf Browser">
                <action name="Execute">
                    <command>avahi-discover</command>
                </action>
            </item>
            <item label="BleachBit">
                <action name="Execute">
                    <command>bleachbit</command>
                </action>
            </item>
            <item label="Btrfs Assistant">
                <action name="Execute">
                    <command>btrfs-assistant-launcher</command>
                </action>
            </item>
            <item label="CachyOS Hello">
                <action name="Execute">
                    <command>cachyos-hello</command>
                </action>
            </item>
            <item label="CachyOS Kernel Manager">
                <action name="Execute">
                    <command>cachyos-kernel-manager</command>
                </action>
            </item>
            <item label="CachyOS Package Installer">
                <action name="Execute">
                    <command>cachyos-pi</command>
                </action>
            </item>
            <item label="Hardware Locality Lstopo">
                <action name="Execute">
                    <command>lstopo</command>
                </action>
            </item>
            <item label="Htop">
                <action name="Execute">
                    <command>alacritty htop</command>
                </action>
            </item>
            <item label="LACT">
                <action name="Execute">
                    <command>lact gui</command>
                </action>
            </item>
            <item label="SchedExt GUI Manager">
                <action name="Execute">
                    <command>scx-manager</command>
                </action>
            </item>
            <item label="Shelly">
                <action name="Execute">
                    <command>shelly-ui</command>
                </action>
            </item>
            <item label="Shelly Notifications">
                <action name="Execute">
                    <command>shelly-notifications</command>
                </action>
            </item>
            <item label="Thunar File Manager">
                <action name="Execute">
                    <command>thunar</command>
                </action>
            </item>
            <item label="Tint2">
                <action name="Execute">
                    <command>tint2</command>
                </action>
            </item>
            <item label="Virtual Machine Manager">
                <action name="Execute">
                    <command>virt-manager</command>
                </action>
            </item>
        </menu> <!-- System -->
        <menu id="Utilities" label="Utilities">
            <item label="About Xfce">
                <action name="Execute">
                    <command>xfce4-about</command>
                </action>
            </item>
            <item label="Bulk Rename">
                <action name="Execute">
                    <command>thunar --bulk-rename</command>
                </action>
            </item>
            <item label="Cachy-Update">
                <action name="Execute">
                    <command>alacritty arch-update</command>
                </action>
            </item>
            <item label="Cachy-Update Systray Applet">
                <action name="Execute">
                    <command>arch-update --tray</command>
                </action>
            </item>
            <item label="Flatseal">
                <action name="Execute">
                    <command>flatpak run --branch=stable --arch=x86_64 --command=com.github.tchx84.Flatseal com.github.tchx84.Flatseal</command>
                </action>
            </item>
            <item label="HD2Arsenal">
                <action name="Execute">
                    <command>flatpak run --branch=stable --arch=x86_64 --command=electron-wrapper --file-forwarding app.rsnl.gg @@u %U @@</command>
                </action>
            </item>
            <item label="KFontInst">
                <action name="Execute">
                    <command>kfontinst</command>
                </action>
            </item>
            <item label="KFontView">
                <action name="Execute">
                    <command>kfontview</command>
                </action>
            </item>
            <item label="Klipper">
                <action name="Execute">
                    <command>false</command>
                </action>
            </item>
            <item label="Limine-snapper-restore">
                <action name="Execute">
                    <command>limine-snapper-restore</command>
                </action>
            </item>
            <item label="Mousepad">
                <action name="Execute">
                    <command>mousepad</command>
                </action>
            </item>
            <item label="Protontricks">
                <action name="Execute">
                    <command>protontricks --no-term --gui</command>
                </action>
            </item>
            <item label="Protontricks Launcher">
                <action name="Execute">
                    <command>protontricks-launch --no-term</command>
                </action>
            </item>
            <item label="Redshift">
                <action name="Execute">
                    <command>redshift-gtk</command>
                </action>
            </item>
            <item label="Redshift">
                <action name="Execute">
                    <command>alacritty redshift</command>
                </action>
            </item>
            <item label="Shortcut Editor">
                <action name="Execute">
                    <command>lxshortcut -i</command>
                </action>
            </item>
            <item label="Synergy">
                <action name="Execute">
                    <command>/opt/Synergy/synergy</command>
                </action>
            </item>
            <item label="Text Editor">
                <action name="Execute">
                    <command>xed</command>
                </action>
            </item>
            <item label="Vim">
                <action name="Execute">
                    <command>alacritty vim</command>
                </action>
            </item>
            <item label="Winetricks">
                <action name="Execute">
                    <command>winetricks --gui</command>
                </action>
            </item>
            <item label="Xarchiver">
                <action name="Execute">
                    <command>xarchiver</command>
                </action>
            </item>
        </menu> <!-- Utilities -->
        <separator />
        <item label="Terminal">
            <action name="Execute">
                <command>alacritty</command>
            </action>
        </item>
        <item label="File Manager">
            <action name="Execute">
                <command>pcmanfm-qt</command>
            </action>
        </item>
        <item label="Web Browser">
            <action name="Execute">
                <command>firefox</command>
            </action>
        </item>
        <separator />
        <menu id="config-menu" label="Config">
            <item label="Reconfigure Labwc">
                <action name="Reconfigure">
                </action>
            </item>
            <item label="Update Menu">
                <action name="Execute">
                    <command>~/.config/labwc/scripts/menu-update.sh</command>
                </action>
            </item>
            <separator />
            <item label="Sync GTK Theme">
                <action name="Execute">
                    <command>~/.config/labwc/scripts/gtk.sh</command>
                </action>
            </item>
            <item label="Restart Portals">
                <action name="Execute">
                    <command>systemctl --user restart xdg-desktop-portal</command>
                </action>
            </item>
            <separator />
            <item label="Edit Labwc Config">
                <action name="Execute">
                    <command>xdg-open ~/.config/labwc/labwc.xml</command>
                </action>
            </item>
            <item label="Edit Theme">
                <action name="Execute">
                    <command>xdg-open ~/.local/share/themes/NIGHT-RED/openbox-3/themerc</command>
                </action>
            </item>
        </menu>
        <menu id="session-menu" label="Session">
            <item label="Lock Screen">
                <action name="Execute">
                    <command>loginctl lock-session</command>
                </action>
            </item>
            <item label="Suspend">
                <action name="Execute">
                    <command>systemctl suspend</command>
                </action>
            </item>
            <item label="Hibernate">
                <action name="Execute">
                    <command>systemctl hibernate</command>
                </action>
            </item>
            <separator />
            <item label="Log Out">
                <action name="Exit">
                </action>
            </item>
            <item label="Reboot">
                <action name="Execute">
                    <command>systemctl reboot</command>
                </action>
            </item>
            <item label="Shutdown">
                <action name="Execute">
                    <command>systemctl poweroff</command>
                </action>
            </item>
        </menu>
    </menu>
</openbox_menu>
